:root {
    
    --needit: #D6D6D6;
    --red: #A72F3B;
    --orange: #e76f51;
    --black: #111111;
    --grey: #D2D2D2;
    --secondbutton: #EDD5D8;
    --dark: #3B3735;
    --app-bg: #FAF4F2;
    --dark-btn: #8D8D8D;
    --newsletter-color: #F8E1DB;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    background-color: var(--app-bg);
    color: var(--black);
    font-family:'BYekan';
}
.container {
   margin-left: auto;
   margin-right: auto;
}

.bikar {
    background-color: var(--red);
    color: #ffffff;
    font-style: italic;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 1rem;
    
}

.first__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 15px 30px;
    flex-direction: row-reverse;
}

.search__bar {
    display: flex;
    background-color: #fff;
    border-color: var(--needit);
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
}
.search__bar input {
    background-color: #fff;
    border: 2px solid var(--grey);
    border-radius: 50px;
    width: 100%;
    max-width: 500px;
    height: 40px;
    text-align: right;
}

.search__bar input::placeholder {
    color: var(--red);
}

.first-header__menu {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.first-header-menu__list {
    display: flex;
}

.first-header-menu-list__items {
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
}
.menu__icon {
    vertical-align: middle;
  }
.header-menu__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin: 20px ;
    padding: 15px ;
    font-size: 1.7rem;
}
.header-menu__list li {
    cursor: pointer;
    transition: color 0.3s ease;
}

.header-menu__list li:hover {
    color: var(--red);
}
.special__li {
    background-color: var(--red);
    color: white !important;
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bold;
}
.special__li:hover {
    background-color: #8b1e2a;
    cursor: pointer;
}
.special-li__icon{
    vertical-align: middle;
}
.main__content{
    position: relative;
}
.main__picture{
    width: 80%; 
    max-width: 1000px; 
    margin-top: 20px; 
    margin-left: auto;
    margin-right: auto; 
    display: block; 
    border-radius: 10px;
    }
.main-content__h1{
    position: absolute;
    top: 10rem;
    left: 90rem;
    font-size: 2.5rem;
    color: black;
}
.main-content-p__picture{
    position: absolute;
    top: 16rem;
    left: 80rem;
    width: 29rem;
    font-size: 1.4rem;
    color: var(--black);
}
.first-main__button{
    position: absolute;
    top:  27rem;
    left: 95rem;
    padding: 10px 20px;
    background-color: var(--red);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 145px;
}
.second-main__button{
    position: absolute;
    top:  27rem;
    left: 80rem;
    padding: 10px 20px;
    background-color: var(--secondbutton);
    color: var(--red);
    border-color: var(--red);
    border-radius: 8px;
    cursor: pointer;
    width: 145px;
}


.dastebandi{
    margin-top: 40px;
    width: 105rem;
    margin-left: 7rem;
   
}
.services{
  display: flex;
  align-items: center;
  gap: 35px;
  justify-content: center;
  margin-top: 35px;
}
.service{
    background-color: #FFFFFF;
    justify-items: center;
    text-align: center;
    border-radius: 12px;
    width: 140px;
    padding: 0.5rem;
    cursor: pointer;
}

.porforosh{
 margin-top: 30px;
 width: 105rem;
 margin-left: 7rem;  
}
/* کارت هام */
  
.product__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 35px;
    transform: scale(0.9);
}
.product__card{
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 12px;
    direction: rtl;
    cursor: pointer;
    transition: 0.3s;
    
}
.product__card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
.product-card__price:hover{
    color: var(--red);
}
.product-card__desc{
    font-size: small;
}
.product-card__price{
    margin-top: 25px;
    text-align: left;
}
.foroshe__vizhe{
    margin-top: 10px;
    width: 105rem;
    margin-left: 7rem;
}
.images__holder{
    display: flex;
    flex-direction: row-reverse;
    padding: 70px;
    transform: scale(0.9);
    margin-bottom: 10rem;
}
.images__cards{
    margin-top: -7rem; 
}
.images-card__items {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; 
    margin-bottom: 1%;
    cursor: pointer;
}


